#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-font {
  font-weight: bold;
}

.text-base {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-size {
  font-size: 0.75rem;
}

.li {
  list-style-type: none;
}

.button {
  border-radius: 0;
  border: 1px solid black;
}

.margin {
  margin-right: 15px;
  margin-left: 10px;
}

.margin-right {
  margin-left: 100px;
}

input::placeholder {
  font-size: 100px;
}
