#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ul {
  padding-left: 0px;
}

.li {
  list-style-type: none;
}

.text-font {
  font-weight: bold;
}

.text-base {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-size {
  font-size: 0.75rem;
}

.button {
  border-radius: 0;
  border: 1px solid black;
}

.margin-check-box {
  margin-right: 5px;
}

.margin-right {
  margin-left: 100px;
}

input::placeholder {
  font-size: 100px;
}
